body{
	color: white;
	text-align: center;
        background-color: black;
	font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin: 0px;
        height:100vh;
        display:flex;
        flex-flow: column;
}
.titulo{
    margin: 0;
    width: 100%;
    height: 20vh;
}
div{
	background-color: black;
}
a{
	color:deepskyblue;
        text-decoration: none;
}
p{
	margin: 5px;
}
.sigla{
	font-size: 30px;
	font-weight: bold;
}
.asig{
	float: left;
	width: 18%;
	height: 100%;
	/*display: inline;*/
}
.cont{
	height:15vh;
        width:100%;
        border-top: solid white 1px;
        border-bottom: solid white 1px;
}
.info{
    border: solid white 1px;
    padding:15px;
    margin:25px 50px;
    width: 25vw;
    text-align: left;
}
footer{
	background-color: black;
        font-family: 'Times New Roman', Times, serif;
        border-top:solid white 1px;
	font-size: 12px;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 10vh;
	text-align: left;
}
img{
		height: 20px;
		width: 20px;
}

.cuadro{
    background-color: white;
    position: absolute;
    
}
#arriba{
    width: 150px;
    height: 20vh;
    top: 0;
    left: 0px;
}
#abajo{
    width: 100px;
    height: 10vh;
    right: 0px;
    bottom: 0%;
}
